 <h1>Vista de Productos</h1>
    {{#if hayproductos }}
    <table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Picture</th>
        </tr>
    </thead>
    <tbody id="products">  
           {{#each products}}
            <tr>
                <td>{{this.title}}</td>
                <td>${{this.price}}</td>
                <td><img src="{{this.thumbnail}}" alt="{{this.title}}" class="productImg" style="max-width:30px;"></td>   
            </tr>
            {{/each}}           
    </tbody>
    </table> 
    {{else}}
    <h1>No se encontraron productos!</h1>   
    {{/if}}